:host {
  --color-primary: #1abc9c;


  border: 2px dashed var(--color-primary);
  display: block;
  padding: 16px;




  .label-version{
    color: var(--color-primary)
  }



  nav ul {

    display: block;
    margin: 0;
    padding: 0;

    li { display: inline-block;margin: 0 8px;}
  }

}
